.prel_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
}

.preloader {
    background: rgb(44, 44, 44);
    background: url('../../img/noice/noice.gif');
    height: 100vh;
    width: 100%;
    font-size: 40px;
    font-family: 'Quantico', sans-serif;
    color: rgb(13, 13, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre_loader_text {
    display: inline-block;
}

.dots {
    display: inline-block;
}

#d1,
#d2,
#d3 {
    opacity: 0;
    animation-name: dotss;
    animation-timing-function: linear;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

#d2 {
    animation-delay: 0.333s;
}

#d3 {
    animation-delay: 0.666s;
}

@keyframes dotss {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(65%);
    height: 31px;
    width: 400px;
    padding: 3px;
    background: #000;
}

.state2 {
    height: 100%;
    background: rgb(55, 56, 55);
    animation-name: state;
    animation-duration: 1s;
}

@keyframes state {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}